{% extends 'base.html' %}

{% block title %}
Связь с Александром
{% endblock %}


{% block body %}


<style xmlns="http://www.w3.org/1999/html">
        .header-text {
            font-family: 'Monsterato', sans-serif;
            font-size: 2em;
            color: #211414;
        }
    </style>


<style>
        body {
            font-family: 'Monsterato', sans-serif;
            line-height: 1.6;
            padding: 20px;
            max-width: 2000px;

        }

        h1, h2, h3 {
            font-family: 'Monsterato', sans-serif;
            color: #211414;
            font-weight: normal;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 1.5em;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .toc {
            margin-bottom: 30px;
        }

        .toc a {
            text-decoration: none;
            color: 211414;
            font-size: 1.5em;

        }

        .toc a:hover {
            text-decoration: underline;
        }

        a {
            color: #8a6b6b;
            text-decoration: none;
            font-size: 1em;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

  <style>
        .photo-container {
            display: flex;
            justify-content: center;
        }

        .photo-container img {
            max-width: 100%;
            height: auto;
        }
    </style>


<style>
        .indent {
            text-indent: 1em;
            margin-left: 0;
        }
    </style>


<p>Если вы заинтересованы в сотрудничестве со мной, то вы можете связаться со мной.</p>

<div class="contacts-grid__main" style="indent">
    <h2 class="-gap-grid_medium -s:-gap-grid_xxxsmall" style="margin-top: 40px;">Контакты</h2>
    <div id="comp_22496937e194cf800dd285a3c95b6ee4">
        <div class="text-item">
            <div class="text-item__description text-item__description_medium">
        	    <p>Телефон: <a href="tel:+1234567890"><span itemprop="telephone">+7 (909) 115 25 21</span></a></p>
	            <p>Электронная почта: <a href="mailto:Sasa.iamshanov@gmail.com"><span itemprop="email">Sasa.iamshanov@gmail.com</span></a></p>
            </div>
        </div>
    </div>

    <p>Через следующие платформы:</p>
    <ul class="list-unstyled">
        <li>
            <a href="https://vk.com/ya_nder" target="_blank"><i class="fab fa-vk"></i> ВКонтакте</a>
        </li>
        <li>
            <a href="https://t.me/Ya_nder" target="_blank"><i class="fab fa-telegram"></i> Telegram</a>
        </li>
    </ul>
</div>

{% endblock %}