{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

<style xmlns="http://www.w3.org/1999/html">
        .header-text {
            font-family: 'Monsterato', sans-serif;
            font-size: 2em;
            color: #211414;
        }
    </style>


<style>
        body {
            font-family: 'Monsterato', sans-serif;
            line-height: 1.6;
            padding: 20px;
            max-width: 2000px;

        }

        h1, h2, h3, h4 {
            font-family: 'Monsterato', sans-serif;
            color: #211414;
            font-weight: normal;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 1.5em;
            margin-bottom: 15px;
        }

        h4 {
            font-size: 0.25em;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .toc {
            margin-bottom: 30px;
        }

        .toc a {
            text-decoration: none;
            color: 211414;
            font-size: 1.5em;

        }

        .toc a:hover {
            text-decoration: underline;
        }

        a {
            color: #8a6b6b;
            text-decoration: none;
            font-size: 1em;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

  <style>
        .photo-container {
            display: flex; /* Размещаем фотографии в строку */
            justify-content: center; /* Центрируем фотографии по горизонтали */
            gap: 20px; /* Расстояние между фотографиями */
        }

        .photo-container img {
            max-width: 100%; /* Максимальная ширина фотографии равна ширине контейнера */
            height: auto; /* Автоматическая высота для сохранения пропорций */
        }
    </style>


<style>
        .indent {
            text-indent: 1em;
            margin-left: 0;
        }
    </style>


 <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0" class="photo-container">
            <h class="display-4 fst-italic">Привет! <br> Меня зовут Александр <br> </h>
            <img src="static/laptop.jpg" width="300" height="400" class="profile-photo">
            <p>Это мой первый опыт по созднаю сайтов, я хотел бы поделиться этим с вами. <br> Этот сайт будет отображать информацию обо мне.</p>
        </div>
    </div>


<body>

<div style="margin-top: 150px;">
     <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
                <h1>Содержание</h1>
            <div class="toc">
                <ul>
                    <li><a href="#section1">Введение</a></li>
                    <li><a href="#section2">Основная часть</a></li>
                    <li><a href="#section3">Заключение</a></li>
                </ul>
            </div>
        </div>
    </div>



    <h1 id="section1" style="margin-top: 200px;">Введение</h1>
    <p style="margin-top: 20px;">Мне поступило предложение поработать над проектом создания сайта для компании X.</p>
    <p style="margin-top: 20px;">После собеседования мною была принята в показательную, для моей должности, работу задача, а именно создание 3-ч страничного сайта-визитки или библиотеку. Как вы уже поняли, я выбрал первый вариант.</p>
    <p style="margin-top: 20px;">Первой задачей передо мной встал вопрос об обучение за короткий срок такому непростому делу, с которым раньше я не встречался.</p>
    <p style="margin-top: 20px;">Для начала практической работы, я выбрал фреймворк для написания кода сайта, им оказался <a href="https://palletsprojects.com/p/flask/">Flask</a>, так как он больше всего подходит для освоения новичку. После выбора фреймворка я столкнулся еще с большим количеством трудностей, я нисколько не знал ни <a href="https://www.w3.org/Style/CSS/">CSS</a> ни <a href="https://html.spec.whatwg.org/multipage/">HTML</a>.</p>
    <p style="margin-top: 20px;">Своими попытками я добился определенных задач и цели, входе которой был создан <a href="/">этот сайт</a>. </p>

    <h1 id="section2" style="margin-top: 200px;">Основная часть</h1>
    <p>Меня зовут Ямшанов Александр.</p>
    <p>Мне 19 лет, я 2005 года рождения. Я родился и живу в замечательном городе миллионнике <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D0%BC%D1%8C">Пермь</a>.</p>
    <p style="margin-top: 20px;">Я отучился <a href="https://yandex.ru/maps/org/srednyaya_obshcheobrazovatelnaya_shkola_64/34752143962/?ll=55.931975%2C58.009496&z=16">школе</a> 11 классов. Учился хорошо и без каких-либо трудностей. Аттестат у меня отличный, результаты сдачи ЕГЭ 220+ баллов. Предметы по которым я проходил экзаменацию: <br> -русский язык <br> -математика профиль <br> -по выбору физику и информатику</p>
    <p style="margin-top: 20px;">После школы поступил в <a href="https://pstu.ru/?ysclid=lxxreupy1f727054000">ПНИПУ</a> на направление <a href="https://pstu.ru/title1/faculties/fpmm/mmsp/?cid=69">математическое моделирование</a>. На данный момент учусь на 2 курсе на отлично.</p>
    <p style="margin-top: 40px;">Кроме основной учебной деятельности состою в лабоработрии по разработке искусственного интеллекта при университете. В ней мы разрабатываем и обучаем нейронные сети для решения прикладных задач.</p>
    <p style="margin-top: 30px;">В лабаратории я принимал участие в двух проектах.</p>
    <p>Первый проект был связан с анализом данных. В нем мне приходилось работать с большой базой и анализировать ее. Работы была выполнена качественно в необходимые сроки.</p>
    <p style="margin-top: 20px;">Второй проект у меня был связан с созданием нейронной сети и ее обучением, где моей задачей являлся сбор данных и их обработка.</p>
    <p>В этой работе нужны были следующие навыки: <br> -хороший уровень программирования<br> -умение монтажа видео<br> -работа с информацией</p>
    <p style="margin-top: 20px;">Необходимо было создать нейронную сеть, которая определяет тип и размер объекта попадающий в авиадвигатель во время полета самолета. Моей задачей было собрать датасет разных материалов разного размера, имитировать попадание в двигатель и разметить данные .</p>
    <p style="margin-top: 30px;">Так же мною была создана простая нейронная сеть, которая по параметрам человеческого тела определяла его пол.</p>
    <p style="margin-top: 30px;">Помимо выше перечисленного у меня уже присутствует опыт работы в больших компаниях, таких как Яндекс. В квартальном проекте от этой компании, в котором принимали участие более сотни человек, занимал должность разметчика данных. Работал с огромным количеством данных разного типа.</p>
    <p style="margin-top: 50px;">Помимо всего этого, я люблю математику, и на краевой олимпиаде по математике наша команда от политеха заняла первое место.</p>

    <img src="static/olimp.jpg" width="350" height="550" class="profile-photo">

    <h1 id="section3" style="margin-top: 200px;">Заключение</h1>
    <p>Это все, с чем я хотел поделиться, также есть вкалдка "Умения", где есть дополнение к выше написанному. Со мной можно свзяаться в любое время.<br> Благодарю за внимание.</p>




</div>

<div class="col-md-6" style="margin-top: 100px;" >
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: #C0C0C0;">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Мои умения <br> </h3>
          <p> <br> Я владею такими...</p>
          <a href="/skills" class="icon-link gap-1 icon-link-hover stretched-link">
            Посмотреть
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
    </div>

<div class="col-md-6" style="margin-top: 100px;" >
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: #C0C0C0;">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Хотите связаться? <br> </h3>
          <p> <br> Если вы заинтересованы в сотрудничестве со мной, то...</p>
          <a href="/contact" class="icon-link gap-1 icon-link-hover stretched-link">
            Связаться
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
    </div>

<h4>Здесь могла быть ваша реклама</h4>

</body>



{% endblock %}