{% extends 'base.html' %}

{% block title %}
Умения
{% endblock %}


{% block body %}


<style xmlns="http://www.w3.org/1999/html">
        .header-text {
            font-family: 'Monsterato', sans-serif;
            font-size: 2em;
            color: #211414;
        }
    </style>


<style>
        body {
            font-family: 'Monsterato', sans-serif;
            line-height: 1.6;
            padding: 20px;
            max-width: 2000px;

        }

        h1, h2, h3 {
            font-family: 'Monsterato', sans-serif;
            color: #211414;
            font-weight: normal;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 1.5em;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        .toc {
            margin-bottom: 30px;
        }

        .toc a {
            text-decoration: none;
            color: 211414;
            font-size: 1.5em;

        }

        .toc a:hover {
            text-decoration: underline;
        }

        a {
            color: #8a6b6b;
            text-decoration: none;
            font-size: 1em;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

  <style>
        .photo-container {
            display: flex; /* Размещаем фотографии в строку */
            justify-content: center; /* Центрируем фотографии по горизонтали */
            gap: 20px; /* Расстояние между фотографиями */
        }

        .photo-container img {
            max-width: 100%; /* Максимальная ширина фотографии равна ширине контейнера */
            height: auto; /* Автоматическая высота для сохранения пропорций */
        }
    </style>


<style>
        .indent {
            text-indent: 1em;
            margin-left: 0;
        }
    </style>


<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0" class="photo-container">
            <p class="indent">Я владею такими языками программирования как python, C++, также умею строить математические модели систем и процессов. Умею работать с математическим паектом Wolfram Mathematica </p>
            <p class="indent">Мои сильные стороны:</p>
            <p>-Хорошо работаю с алгоритмами</p>
            <p>-Отлично знаю математику</p>
            <p>-Владею английским языком на уровне B1</p>
            <p>-Легко обучаюсь новому</p>
            <p>-Многозадачный</p>
            <p>-Общительный</p>
            <p>-Владею простыми навыками фотошопа и монтажа видео</p>
            <p>-Спортсмен</p>
        </div>
    </div>


{% endblock %}